<app-generics-list [list]="movies">
    <ng-container content>
        <div class="movies-container">
        <div *ngFor="let movie of movies; let index = index" class="movie-container" >
            <a [routerLink]="'/movie/'+ movie.id">
                <img [src]="movie.poster"  alt="Poster" style="width: 225px;height: 300px;"/>
            </a>
            <p>
              <a [routerLink]="'/movie/'+ movie.id" > {{movie.title}}</a>
            </p>
            <div>
                <app-authorize-view [role]="'admin'">
                    <ng-container Authorized>
                        <a [routerLink]="'/movies/edit/'+ movie.id" mat-flat-button color="primary">Edit</a>
                        <button mat-flat-button color="warn"  type="button" 
                            (click)="remove(movie.id)">
                            Delete</button>
                    </ng-container>
                  </app-authorize-view>
            </div>
        </div>
    </div>   
  </ng-container>
</app-generics-list>